body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;

}
h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
   color: hsl(223, 47%, 23%);
   text-align: center;

}
p{
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    text-align: center;

}
.text{
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.gray{ 
    display: flex;
    height: 75px;
    width: 300px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
}
h3{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-left: 85px;

}
h4{
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: hsl(224, 23%, 55%);
    margin-left: 85px;
    margin-top: 40px;

}
.change{
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    margin-top: 27px;
    margin-left: 235px;
}
.imagenmusica{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    border-top-right-radius: 10px;
}
.paymentbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    max-width: 300px;
    height: 37px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: 1px 12px 1px hsl(225, 100%, 98%);
}
.cancelbutton{
    margin-top: 25px;
    font-size: 11px;
    font-weight: 900;
}
.padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    background-color: white;
    border-radius: 5%;
}
.heroe{
    border-radius: 10px;
}
